{% extends "master.html" %}

{% block title %}
  Gordo - List All Food Trucks
{% endblock %}

{% block content %}

<h2>Search Results</h2>
<form method="get">
    <label>
        <input type="text" name="name" placeholder="Truck name" value="{{ request.GET.name }}">
        <input type="text" name="location" placeholder="Location" value="{{ request.GET.location }}">
        <select name="sort">
        <option value="name">Name</option>
        <option value="location">Location</option>
        <option value="openTime">Open Time</option>
        <option value="closeTime">Close Time</option>
    </select>
    </label>
    <button type="submit">Search</button>
</form>

<ul>
    {% for truck in food_trucks %}
        <li><a href="details/{{ truck.id }}">{{ truck.name }} - {{ truck.location }}</a> ({{ truck.openTime }}:00 to
               {{ truck.closeTime }}:00)
        </li>
    {% empty %}
        <li>No matching food trucks found.</li>
    {% endfor %}
</ul>

{% endblock %}